@model MountainSocialNetwork.Web.ViewModels.BlogHomePage.CategoryByNameViewModel

@{
    this.ViewData["Title"] = Model.Title;
}

@if (!Model.ArticlePosts.Any())
{
<h3 class="text-lg-center">Be first one who will post in this category!</h3>
}
@foreach (var post in Model.ArticlePosts)
{
      <div class="card mb-4">
         <img class="card-img-top w-auto" src="@post.PictureURL" height="500" alt="Card image cap">
         <div class="card-body">
             <h2 class="card-title">@post.Title</h2>
             <p class="card-text">@Html.Raw(post.ShortContent)</p>
             @*//<a href="#" class="btn btn-primary">Read More &rarr;</a>*@
             <a asp-controller="Articles" asp-action="ById" asp-route-Id="@post.Id"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Read More</button></a>


             @*//asp-controller="BlogPosts" asp-action="ById" asp-route="@post.Id"*@
         </div>
         <div class="card-footer text-muted">
             <a class="fas fa-calendar-alt"> Posted on <time datetime="@post.CreatedOn.ToString("O")"></time> by  </a>
             <a class="fas fa-user"> @post.UserUserName  </a>
             <a class="fas fa-comment-dots"> @post.CommentsCount</a>
         </div>
      </div>

}

